# Created by https://www.toptal.com/developers/gitignore/api/pico8,lua
# Edit at https://www.toptal.com/developers/gitignore?templates=pico8,lua

### Lua ###
# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex


### pico8 ###
# exported file types
*.p8.png
*.png
*.wav
*.js
*.html
*.bin

# demos folder
demos/

# End of https://www.toptal.com/developers/gitignore/api/pico8,lua
